@model IEnumerable<E_Com.Models.Categorie>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion des Catégories</h1>

<p>
    <a asp-action="Create"><button class="btn btn-outline-primary">Ajouter Catégorie</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categorieName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categorieName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.categorieID"><button class="btn btn-info">Modifier</button></a> |
                <a asp-action="Details" asp-route-id="@item.categorieID"><button class="btn btn-warning">details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.categorieID"><button class="btn btn-danger">Supprimer</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
